<!DOCTYPE html>
<html>
<head>
    <title>LogNoziroh</title>
    <link href="~/css/create-style.css" rel="stylesheet" />
    <link href="~/css/details-style.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/reset.css" rel="stylesheet" />
</head>
<body>
	@RenderBody()
</body>
</html>