<div class="wrapper">
    <form class="cat-create" method="post" th:action="@{/edit/{id}(id=${cat.id})}">
        <div class="create-header">
            Edit Cat
        </div>
        <div class="create-name">
            <div class="create-name-label">Name</div>
            <input class="create-name-content" name="name" th:field="${cat.name}" />
        </div>
        <div class="create-nickname">
            <div class="create-nickname-label">Nickname</div>
            <input class="create-nickname-content" name="nickname" th:field="${cat.nickname}"/>
        </div>
        <div class="create-price">
            <div class="create-price-label">Price</div>
            <input type="number" min="0" step="0.00001" class="create-price-content" name="price" th:field="${cat.price}" />
        </div>
        <div class="create-button-holder">
            <button type="submit" class="submit-button">Edit Cat</button>
            <a type="button" href="/" class="back-button">Back</a>
        </div>
    </form>
</div>