<form id="register-form" action="/user/register" method="POST">
    <label for="username">Username:</label>
    <input class="input-field" type="text" id="username" name="username" value="{{username}}" />
    <label for="password">Password:</label>
    <input class="input-field" type="password" id="password" name="password" />
    <label for="confirmedPassword">Repeat Password:</label>
    <input class="input-field" type="password" id="confirmedPassword" name="repeatPassword" />
    <label for="firstName">First Name:</label>
    <input class="input-field" type="text" id="firstName" name="firstName" />
    <label for="lastName">Last Name:</label>
    <input class="input-field" type="text" id="lastName" name="lastName" />
    <input class="submit-btn" type="submit" value="Register" />
</form>