@model IssueTracker.Models.Issue

@{
    ViewBag.Title = "Create";
}

<div class="wrapper">
    @using (Html.BeginForm("Create", "Issue", FormMethod.Post, new { @class = "issue-create" }))
    {
        @Html.AntiForgeryToken()
        <div class="create-header">
            Log Issue
        </div>
        <div class="create-title">
            <div class="create-title-label">Title</div>
            <input class="create-title-content" name="title" />
        </div>
        <div class="create-issueitem">
            <div class="create-issueitem-label">Content</div>
            <textarea rows="3" class="create-issueitem-content" name="content"></textarea>
        </div>
        <div class="create-issueitem">
            <div class="create-issueitem-label">Priority</div>
            <input type="number" min="0"  rows="3" class="create-issueitem-content" name="priority"/>
        </div>
        <div class="create-button-holder">
            <button type="submit" class="button">Log Issue</button>
            <a type="button" href="/" class="button">Back</a>
        </div>
    }
</div>
