<div id="details">
    <div class="car-details">
        <h2>{{model}}</h2>
        <img src="{{image}}" alt="car" />
    </div>
    <form id="rent-form" action="/car/rent/{{_id}}" method="POST">
        <label for="days">Rent days:</label>
        <input type="number" name="days" id="days" step="1" value="1" />
        <input class="submit-btn" type="submit" value="Rent" />
    </form>
</div>