<h1>About Cubicle</h1>
<div class="about">
  <p>Cubicle is a place, where you can browse some of the most popular rubik cubes in the world and add
    some new cubes
    that you have discovered. This application was created as an exercise for the Express.js Fundamentals course
    at the
    <a href="https://softuni.bg/trainings/2255/expressjs-fundamentals-january-2019">Software University</a>.</p>
</div>