<h1>Gan356 Air SM</h1>
<img class="cube" src="{{imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{description}}</p>
  <p><span>Difficulty level:</span> {{difficulty}}</p>
  <button><a href="/">Back</a></button>
</div>