{% extends "base.html.twig" %}

{% block main %}
    <div class="wrapper">
        <form class="issue-create" method="post">
            <div class="create-header">
                Close Issue
            </div>
            <div class="create-title">
                <div class="create-title-label">Title</div>
                <input class="create-title-content" name="issue[title]" value="{{ issue.title }}" disabled="disabled"  readonly/>
            </div>
            <div class="create-issueitem">
                <div class="create-issueitem-label">Content</div>
                <textarea rows="3" class="create-issueitem-content" name="issue[content]" disabled="disabled" readonly
                >{{ issue.content }}</textarea>
            </div>
            <div class="create-issueitem">
                <div class="create-issueitem-label">Priority</div>
                <input type="number" min="0" class="create-issueitem-content" name="issue[priority]" disabled="disabled"
                value="{{ issue.priority }}"
                readonly/>
            </div>
            <div class="create-button-holder">
                <button type="submit" class="button">Close Issue</button>
                <a type="button" href="/" class="button">Back</a>
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
{% endblock %}