{% extends "base.html.twig" %}

{% block main %}
<div class="wrapper">
    <form class="issue-create" method="post">
        <div class="create-header">
            Edit Issue
        </div>
        <div class="create-title">
            <div class="create-title-label">Title</div>
            <input class="create-title-content" name="issue[title]" value="{{ issue.title }}" />
        </div>
        <div class="create-issueitem">
            <div class="create-issueitem-label">Content</div>
            <textarea rows="3" class="create-issueitem-content" name="issue[content]">{{ issue.content }}</textarea>
        </div>
        <div class="create-issueitem">
            <div class="create-issueitem-label">Priority</div>
            <input type="number" min="0" class="create-issueitem-content" name="issue[priority]" value="{{ issue.priority }}"/>
        </div>
        <div class="create-button-holder">
            <button type="submit" class="button">Edit Issue</button>
            <a type="button" href="/" class="button">Back</a>
        </div>
        {{ form_row(form._token) }}
    </form>
</div>
{% endblock %}

